/* app-design.css */
body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-image: url('Background.svg');
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #3399aa;
    text-align: center;
    font-size: calc(5vw + 1vmin); /* Dinamikus betűméret */
    padding: 2% 0; /* Kisebb padding */
    margin: 0;
    z-index: 100;
    color: white;
    white-space: nowrap; /* Nem törik a sor */
    overflow: hidden; /* Túlcsordulás elrejtése */
    text-overflow: ellipsis; /* Elipsis, ha a szöveg nem fér el */
    height: 10vh; /* Magasság korlátozása a képernyő 10%-ára */
    box-sizing: border-box; /* A padding és a border is beleszámít a magasságba */
}

.score {
    width: 90%;
    max-width: 450px;
    margin: 20px auto;
    background-color: #444444;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: white;
    font-size: 24px;
}

@media (min-width: 600px) {
    h1 {
        font-size: calc(2vw + 1vmin); /* Kisebb betűméret nagyobb képernyőkön */
    }
}