/* game-elements.css */
.board {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 3vw; /* A gombok közötti távolság */
    width: 70vw;
    height: auto; /* Automatikus magasság a szélesség alapján */
/*  margin: 5vw auto 0; */
/*  Középre igazítás és felső margó */
    aspect-ratio: 1 / 1;
}

.cell {
    position: relative;
    cursor: pointer;
    background-color: #3399aa;
    border-radius: 2vw;
    box-shadow: 0vw 2vw rgba(0, 0, 0, 0.2);
    aspect-ratio: 1 / 1;
}

.cell-content {

    text-align: center;
    font-size: calc(5vw + 1vmin); /* Dinamikus betűméret */
    margin: 0;
    white-space: nowrap; /* Nem törik a sor */
    overflow: hidden; /* Túlcsordulás elrejtése */
    text-overflow: ellipsis; /* Elipsis, ha a szöveg nem fér el */
    color: white;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

@media (orientation: landscape) {
    .board {
    gap: 3vh; /* A gombok közötti távolság */
    width: 70vh; /* A magasság 80%-a szélességként használva */
    height: auto;
    }

    .cell {
    position: relative;
    cursor: pointer;
    background-color: rgb(16, 56, 94);
    border-radius: 2vh;
    box-shadow: 0vh 2vh rgba(0, 0, 0, 0.7);
    aspect-ratio: 1 / 1;
}
}