body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

h1 {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px; /* Korlátozza a fejléc szélességét */
  background-color: white;
  text-align: center;
  font-size: 5vw; /* Dinamikus betűméret */
  padding: 10px 0;
  margin: 0;
  z-index: 100;
}

#loadStatus {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 600px; /* Korlátozza a betöltési státusz sáv szélességét */
  background-color: #f0f0f0;
  max-height: 50px;
  overflow: auto;
  font-size: 12px;
  padding: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  z-index: 100;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 5px;
  width: 90%;
  max-width: 540px; /* Módosított szélesség */
  margin: 20px auto 0 auto;
  aspect-ratio: 1 / 1;
  padding-top: 110px;
}

.cell {
  position: relative;
  cursor: pointer;
  border: 1px solid #ddd;
}

.cell-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw;
  user-select: none;
}

.active-row {
  background-color: #ffd700;
  border: 2px solid #ff4500;
}

.active .cell-content {
  font-weight: bold;
}

@media (max-width: 600px) {
  .cell-content {
    font-size: 5vw;
  }

  h1 {
    font-size: 6vw; /* Kisebb betűméret mobil nézetben */
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 24px; /* Fix betűméret nagyobb képernyőkön */
  }
}